body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
    overflow: hidden;
}

.container {
    text-align: center;
}

h1 {
    font-size: 6em;
    margin: 20px 0;
}

.time-tense {
    margin: 40px 0;
}

h2 {
    font-size: 4em;
    margin: 10px 0;
}

div[id="conjugations"] {
    font-size: 3em;
    line-height: 1.5em;
}
