body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Fondo negro */
    color: #32CD32; /* Texto verde amigable a la vista */
    overflow: hidden;
}

.container {
    text-align: center;
    width: 100%; /* Asegurar que el contenedor tome todo el ancho */
}

.day-of-week, h1, .time-tense, h2, div[id="conjugations"] {
    width: 100%; /* Asegurar que cada elemento tome todo el ancho */
    text-align: center; /* Asegurar que el texto esté centrado */
}

.day-of-week {
    font-size: 1em; /* Tamaño de fuente aumentado en un 100% */
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em; /* Tamaño de fuente aumentado en un 100% */
    margin: 10px 0;
}

.time-tense {
    margin: 40px 0;
}

h2 {
    font-size: 2.5em; /* Tamaño de fuente aumentado en un 100% */
    margin: 10px 0;
}

div[id="conjugations"] {
    font-size: 2.5em; /* Tamaño de fuente aumentado en un 100% */
    line-height: 1.5em;
}
