body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* Fondo negro */
    color: green; /* Texto verde */
    overflow: hidden;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    font-size: 6em; /* Tamaño de texto ajustado al doble */
    animation: marquee 75s linear infinite; /* Velocidad ajustada al 25% más lento */
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
